<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Por Pais</h2>

    <hr>

    <div class="row">
        <div class="col">
            <app-pais-input (onEnter)="buscar($event)" (onDebounce)="sugerencias($event)" placeholder="Buscar Pais..."></app-pais-input>
        </div>
    </div>

    <ul class="list-group" *ngIf="mostrarSugerencias">
        <li class="list-group-item list-group-item-action" *ngFor="let pais of paisesSugeridos">
            <a class="nav-link" [routerLink]="['/pais', pais.cca2]"> 
                {{pais.name.common}} 
            </a>
        </li>

        <li class="list-group-item list-group-item-action" (click)="buscarSugerido(termino)">
            <a class="nav-link"> 
                Buscar "{{termino}}"
            </a>
        </li>

    </ul>

    <hr>

    <div class="alert alert-danger" *ngIf="hayError">
        No se encontro nada con el término {{termino}}
    </div>

    <div class="row" *ngIf="paises.length > 0">
        <div class="col">
            <app-pais-tabla [paises]="paises"></app-pais-tabla>
        </div>
    </div>
</div>