<div class="animate__animated animate__fadeIn animate__faster">

    <h2>Por Capital</h2>

    <hr>

    <div class="row">
        <div class="col">
            <app-pais-input (onEnter)="buscar($event)" (onDebounce)="sugerencias($event)" placeholder="Buscar Capital..."></app-pais-input>
        </div>
    </div>

    <hr>

    <div class="alert alert-danger" *ngIf="hayError">
        No se encontro nada con el término {{termino}}
    </div>

    <div class="row" *ngIf="capitales.length > 0">
        <div class="col">
            <app-pais-tabla [paises]="capitales"></app-pais-tabla>
        </div>
    </div>
</div>