<h2>Busquedas</h2>
<hr>
<ul class="list-group">
    <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item">Buscar Pais</li>
    <li routerLink="region" routerLinkActive="active" class="list-group-item">Por Region</li>
    <li routerLink="capital" routerLinkActive="active" class="list-group-item">Por Capital</li>
</ul>