<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Bandera</th>
            <th scope="col">Nombre</th>
            <th scope="col">Capital</th>
            <th scope="col">Población</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises let i = index" class="animate__animated animate__fadeIn animate__faster">
            <th scope="row">{{i + 1}}</th>
            <td>
                <img class="small-flag" [src]="pais.flags.png" alt="img">
            </td>
            <td>{{pais.name.common}}</td>
            <td>{{pais.capital}}</td>
            <td>{{pais.population | number}}</td>
            <td>
                <a [routerLink]="['/pais', pais.cca2]">Ver...</a>
                <pre>{{pais.cca2}}</pre>
            </td>
        </tr>
    </tbody>
</table>