<div class="animate__animated animate__fadeIn animate__faster">

    <div *ngIf="!pais; else divPais" class="alert alert-info">
        Espere por favor...
    </div>

    <ng-template #divPais>

        <div class="row">
            <div class="col-12">
                <h1>Pais: <small>{{pais.name.common}}</small></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <h3>Bandera</h3>
                <img class="img-thumbnail" [src]="pais.flags.png" alt="img">

            </div>

            <div class="col">
                <h3>Informacion</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Poblacion: </strong> {{pais.population | number}}
                    </li>
                    <li class="list-group-item">
                        <strong>Codigo numerico: </strong> {{pais.area}}
                    </li>
                    <li class="list-group-item">
                        <strong>Codigo Aplha 3 : </strong> {{pais.cca3}}
                    </li>
                </ul>
            </div>
        </div>

        <h3>Traducciones</h3>
        <div class="row">
            <div class="col">
                <span class="badge bg-primary mr-3">{{pais.translations.fra.official}}</span>
                <span class="badge bg-primary mr-3">{{pais.translations.ces.official}}</span>
                <span class="badge bg-primary mr-3">{{pais.translations.cym.official}}</span>
                <span class="badge bg-primary mr-3">{{pais.translations.est.official}}</span>
                <span class="badge bg-primary mr-3">{{pais.translations.fin.official}}</span>
                <span class="badge bg-primary mr-3">{{pais.translations.hrv.official}}</span>
                <span class="badge bg-primary mr-3">{{pais.translations.hun.official}}</span>
                <span class="badge bg-primary mr-3">{{pais.translations.jpn.official}}</span>
                <span class="badge bg-primary mr-3">{{pais.translations.kor.official}}</span>
                <span class="badge bg-primary mr-3">{{pais.translations.per.official}}</span>
                <span class="badge bg-primary mr-3">{{pais.translations.pol.official}}</span>
                <span class="badge bg-primary mr-3">{{pais.translations.por.official}}</span>
                <span class="badge bg-primary mr-3">{{pais.translations.rus.official}}</span>
                <span class="badge bg-primary mr-3">{{pais.translations.slk.official}}</span>
                <span class="badge bg-primary mr-3">{{pais.translations.spa.official}}</span>
                <span class="badge bg-primary mr-3">{{pais.translations.swe.official}}</span>
                <span class="badge bg-primary mr-3">{{pais.translations.urd.official}}</span>
                <span class="badge bg-primary mr-3">{{pais.translations.zho.official}}</span>

            </div>
        </div>

        <pre class="mt-5">
            {{pais | json}}
        </pre>

    </ng-template>
</div>